<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>img/favicon.ico" />
  <title>
    Armageddon
    <% if(context.env === 'development') { -%>
      - Dev
    <% } -%>
  </title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
